@charset "UTF-8";

.font('atrium', '../font/atrium');

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "atrium";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

.icon-logo-full:before { content: "\e000"; }
.icon-logo:before { content: "\e001"; }
.icon-down:before { content: "\e002"; }
.icon-vimeo:before { content: "\e003"; }
.icon-linkedin:before { content: "\e004"; }
.icon-slideshare:before { content: "\e005"; }
.icon-plus:before { content: "\e006"; }
.icon-minus:before { content: "\e007"; }
