@font: gtpressura, "Helvetica Neue", Helvetica, Arial, sans-serif;

@baseFontSize:          18px;
@baseLineHeight:        1.222em;

@grid: 20px;

@colorAccent: #30D874;
@colorBlue: #08334C;
@colorGrey: #F5F5F7;

@sizeGap: 40px;

@sizeL: 1000px;
@sizeM: 800px;
@sizeS: 600px;

@aspect: 0.5;

.sizeL() {
	width: 85.6%;
}
