/*! normalize.css 2012-08-07T21:27 UTC | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: 0;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover,
button:active,
button:hover {
  outline: 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@charset "UTF-8";
@font-face {
  font-family: 'beepmap';
  src: url('../font/beepmap.eot');
  src: url('../font/beepmap.eot?#iefix') format('embedded-opentype'), url('../font/beepmap.woff') format('woff'), url('../font/beepmap.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "beepmap";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
  content: "a";
}
.icon-instagram:before {
  content: "b";
}
.icon-vimeo:before {
  content: "c";
}
@font-face {
  font-family: 'gtpressura';
  src: url('../font/gtpressuraregular.eot');
  src: url('../font/gtpressuraregular.eot?#iefix') format('embedded-opentype'), url('../font/gtpressuraregular.woff') format('woff'), url('../font/gtpressuraregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gtpressura';
  src: url('../font/gtpressurabold.eot');
  src: url('../font/gtpressurabold.eot?#iefix') format('embedded-opentype'), url('../font/gtpressurabold.woff') format('woff'), url('../font/gtpressurabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'gtpressuralight';
  src: url('../font/gtpressuralight.eot');
  src: url('../font/gtpressuralight.eot?#iefix') format('embedded-opentype'), url('../font/gtpressuralight.woff') format('woff'), url('../font/gtpressuralight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  font: 18px gtpressura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.222em;
  position: relative;
  color: #08334c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
}
p {
  margin: 0;
}
a {
  color: #FFF;
}
ul {
  list-style: none;
  padding: 0;
}
section {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.bubble {
  position: absolute;
  padding: 0 20px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition-property: all;
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition-property: all;
  -ms-transition-duration: 300ms;
  -ms-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0;
}
.bubble.active {
  opacity: 1;
}
.arrow {
  position: absolute;
}
.arrow svg {
  width: 100%;
  height: 100%;
}
.overview-wrapper,
.car {
  position: relative;
  left: 50%;
  top: 50%;
}
.content {
  width: 85.6%;
  margin: auto;
}
.table {
  display: table;
  width: 100%;
}
.cell {
  display: table-cell !important;
  vertical-align: middle;
}
.inline-centered {
  text-align: center;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
  -moz-transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
  -ms-transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
  transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
}
.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.active {
  text-decoration: none;
}
.title-img-content {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../img/title.jpg");
  -moz-background-size: cover;
  background-size: cover;
}
.title-headlines {
  width: 1000px;
  height: 500px;
  margin: -250px 0 0 -500px;
  text-align: center;
  color: #FFF;
  position: relative;
  left: 50%;
  top: 50%;
}
.title-headlines h1 {
  font-size: 7em;
  line-height: 0.666em;
  margin: 80px 0;
}
.title-headlines p {
  font-size: 2.4em;
  line-height: 1em;
}
@media screen and (max-width: 1040px) {
  .title-headlines {
    width: 800px;
    height: 400px;
    margin: -200px 0 0 -400px;
  }
  .title-headlines h1 {
    font-size: 5.6000000000000005em;
    margin: 60px 0;
  }
  .title-headlines p {
    font-size: 1.92em;
  }
}
@media screen and (max-width: 840px) {
  .title-headlines {
    width: 600px;
    height: 300px;
    margin: -150px 0 0 -300px;
  }
  .title-headlines h1 {
    font-size: 4.2em;
    margin: 40px 0;
  }
  .title-headlines p {
    font-size: 1.44em;
  }
}
@media screen and (max-width: 840px) and (max-height: 840px) {
  .title-headlines {
    width: 600px;
    height: 300px;
    margin: -150px 0 0 -300px;
  }
  .title-headlines h1 {
    font-size: 4.2em;
    margin: 40px 0;
  }
  .title-headlines p {
    font-size: 1.44em;
  }
}
.features {
  background-color: #30d874;
}
.car {
  width: 1000px;
  height: 500px;
  margin: -250px 0 0 -500px;
  text-align: center;
}
.car > svg {
  width: 66%;
  height: 100%;
}
.car .bubble {
  background-color: #FFF;
}
.car .left .arrow,
.car .right .arrow {
  width: 92px;
  height: 84px;
}
.car .bottom .arrow {
  width: 34px;
  height: 120px;
}
.car .left {
  top: 15%;
  left: 6%;
}
.car .left .arrow {
  top: 35px;
  right: -20px;
}
.car .right {
  top: 10%;
  right: 2%;
}
.car .right .arrow {
  left: 0;
  top: 35px;
}
.car .bottom {
  bottom: 11%;
  left: 51%;
}
.car .bottom .arrow {
  bottom: 25px;
  left: 5px;
}
.car .opportunity {
  text-transform: uppercase;
  font-size: 1.111em;
  line-height: 40px;
  white-space: nowrap;
}
.highlight {
  color: #30d874;
}
@media screen and (max-width: 1040px) {
  .car {
    width: 800px;
    height: 400px;
    margin: -200px 0 0 -400px;
  }
  .car .opportunity {
    font-size: 0.8888em;
    line-height: 32px;
  }
  .car .left .arrow,
  .car .right .arrow {
    width: 73.60000000000001px;
    height: 67.2px;
  }
  .car .right .arrow {
    left: 11px;
    top: 27px;
  }
  .car .left .arrow {
    right: -12px;
    top: 27px;
  }
  .car .bottom .arrow {
    width: 27.200000000000003px;
    height: 90.4px;
  }
}
@media screen and (max-width: 840px) {
  .car {
    width: 600px;
    height: 300px;
    margin: -150px 0 0 -300px;
  }
  .car .opportunity {
    font-size: 0.6666em;
    line-height: 24px;
  }
  .car .left .arrow,
  .car .right .arrow {
    width: 55.199999999999996px;
    height: 50.4px;
  }
  .car .bottom .arrow {
    width: 20.4px;
    height: 67.8px;
  }
  .car .right .arrow {
    left: 23px;
    top: 20px;
  }
  .car .left .arrow {
    right: 0;
    top: 18px;
  }
  .car .bottom .arrow {
    bottom: 18px;
  }
}
.overview {
  background-color: #f5f5f7;
  overflow: hidden;
}
.overview h2 {
  position: relative;
  font-size: 3.111em;
  line-height: 1em;
  z-index: 1;
}
.overview .left .arrow,
.overview .right .arrow {
  width: 224px;
  height: 186px;
}
.overview .left {
  top: 15%;
  left: 15%;
}
.overview .left .arrow {
  top: -30px;
  right: -3px;
}
.overview .right {
  right: 13%;
  top: 48%;
}
.overview .right .arrow {
  left: -13px;
  top: -50px;
}
.overview .opportunity {
  color: #08334c;
  font-size: 1.667em;
  line-height: 1em;
  text-align: center;
  width: 180px;
  position: relative;
  z-index: 1;
}
.overview-title {
  display: inline-block;
  position: relative;
  margin-bottom: 110px;
}
.overview-title .arrow {
  position: absolute;
  right: -25px;
  top: -25px;
}
.viewer {
  height: 100%;
  text-align: center;
}
.viewer .iphone {
  width: 1000px;
  position: relative;
  margin: 0 auto;
}
.slides {
  height: 90.65%;
  left: 50%;
  position: absolute;
  top: 4.5%;
}
.slides img {
  height: 100%;
  position: absolute;
  border: 2px #e4e7eb solid;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
  -moz-transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
  -ms-transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
  transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
}
.slides img.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
@media screen and (max-width: 1040px) {
  .overview .opportunity {
    width: 144px;
    font-size: 1.3336000000000001em;
    line-height: 0.8em;
  }
  .overview .left .arrow,
  .overview .right .arrow {
    width: 179.20000000000002px;
    height: 148.8px;
  }
  .overview .right {
    right: 10.4%;
  }
  .overview .right .arrow {
    left: -3px;
    top: -44px;
  }
  .overview .left {
    left: 12%;
  }
  .overview .left .arrow {
    right: 2px;
    top: -29px;
  }
}
@media screen and (max-width: 840px) {
  .overview .opportunity {
    width: 108px;
    font-size: 1.0002em;
    line-height: 0.6em;
  }
  .overview .left .arrow,
  .overview .right .arrow {
    width: 134.4px;
    height: 111.6px;
  }
  .overview .bottom .arrow {
    width: 20.4px;
    height: 67.8px;
  }
  .overview .right {
    right: 7.8%;
  }
  .overview .right .arrow {
    left: 3px;
    top: -36px;
  }
  .overview .left {
    left: 9%;
  }
  .overview .left .arrow {
    right: 7px;
    top: -25px;
  }
}
.footer {
  height: 160px;
  width: auto;
  background-color: #f5f5f7;
  background-image: url("../img/footer-bg.svg");
}
.footer h4 {
  font-size: 0.778em;
  font-weight: normal;
  line-height: 1em;
}
.footer .left,
.footer .right {
  width: 140px;
}
.footer .left {
  float: left;
  text-align: left;
  margin-left: 3.4%;
}
.footer .right {
  float: right;
  text-align: right;
  margin-right: 3.4%;
}
.social-networks {
  padding-top: 40px;
  width: 100%;
  position: relative;
  bottom: 5px;
  margin-bottom: 23px;
}
.social-networks a {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  background-color: #08334c;
  margin: 0 20px 0 20px;
  text-decoration: none;
}
.social-networks a:before {
  font-size: 24px;
  line-height: 42px;
}
