.features {
	background-color: @colorAccent;
}

.car {
    width: @sizeL;
    height: @sizeL * @aspect;
    margin: -(@sizeL * @aspect / 2 ) 0 0 -(@sizeL / 2);
    text-align: center;

	& > svg {
		width: 66%;
		height: 100%;
	}
}

.bubble {
	//height: (@grid * 2);
	position: absolute;
	background-color: #FFF;
	padding: 0 @grid;
	.transition(all, 300ms);
	opacity: 0;

	&.active {
		opacity: 1;
	}
}

.highlight {
	color: @colorAccent;
}

.opportunity {
	text-transform: uppercase;
	font-size: 1.111em;
	line-height: 40px;
	white-space: nowrap;
}

.left, .right {
	.arrow {
		width: 92px;
		height: 84px;
	}
}

.bottom {
	.arrow {
		width: 34px;
		height: 120px;
	}
}

.left {
	top: 15%;
	left: 6%;

	.arrow {
		top: (@grid * 2 - 5);
		right: -@grid;
	}
}

.right {
	top: 10%;
	right: 2%;

	.arrow {
		left: -(@grid * 3);
		top: (@grid * 2 - 5);

	}
}

.bottom {
	bottom: 11%;
	left: 51%;

	.arrow {
		bottom: (@grid + 5);
		left: 5px;
	}
}

.arrow {
	position: absolute;
	svg {
		width: 100%;
		height: 100%;
	}
}


@media screen and (max-width: (@sizeL + @sizeGap)) {
    .car {
        width: @sizeM;
        height: @sizeM * @aspect;
        margin: -(@sizeM * @aspect / 2 ) 0 0 -(@sizeM / 2);
    }

    .opportunity {
		font-size: (1.111em * 0.8);
		line-height: (40px * 0.8);
    }

	.left, .right {
		.arrow {
			width: (92px * 0.8);
			height: (84px * 0.8);
		}
	}

	.bottom {
		.arrow {
			width: (34px * 0.8);
			height: (113px * 0.8);
		}
	}

}

@media screen and (max-width: (@sizeM + @sizeGap)) {
    .car {
        width: @sizeS;
        height: @sizeS * @aspect;
        margin: -(@sizeS * @aspect / 2 ) 0 0 -(@sizeS / 2);
    }

    .opportunity {
		font-size: (1.111em * 0.6);
		line-height: (40px * 0.6);
    }

	.left, .right {
		.arrow {
			width: (92px * 0.6);
			height: (84px * 0.6);
		}
	}

	.bottom {
		.arrow {
			width: (34px * 0.6);
			height: (113px * 0.6);
		}
	}
}
