.features {
	background-color: @colorAccent;
}

.car {
	width: 641.094px;
	height: 281.090px;
	margin: -140.545px 0 0 -320.547px;
}

.bubble {
	height: (@grid * 2);
	position: absolute;
	background-color: #FFF; 
	padding: 0 @grid;
	.transition(all, 300ms);
	opacity: 0;

	&.active {
		opacity: 1;
	}
}

.highlight {
	color: @colorAccent;
}

.opportunity {
	text-transform: uppercase;
	font-size: 1.111em;
	line-height: 44px;
	white-space: nowrap;
}

.left {
	top: -4%;
	left: -21%;

	.arrow {
		top: (@grid * 2 - 5);
		right: -@grid;
	}
}

.right {
	top: -19%;
	right: -35%;

	.arrow {
		left: -(@grid * 3);
		top: (@grid * 2 - 5);
	}
}

.bottom {
	bottom: -18%;
	left: 41%;

	.arrow {
		bottom: (@grid + 5);
		left: 5px;
	}
}

.arrow {
	position: absolute;
}