.features {
	height: 660px;
	padding: (@grid * 4) 0 (@grid * 3);

	h2 {
		font-size: 3.111em;
		line-height: 1em;
		text-align: center;
	}
}

.slideshow {
	margin-top: (@grid * 3);
}

.description {
	width: 320px;
	float: left;
	text-align: left;
	margin-top: (@grid * 2);

	h3 {
		font-size: 1.444em;
	}
}

.viewer {
	width: 206px;
	height: 422px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -103px;
}

.num {
	margin-bottom: 5px;
}

.hr {
	margin-bottom: 5px;
}

.controls {
	float: right;
	margin-top: (@grid * 5);
}