.footer {
  height: 160px;
  width: auto;
  background-color: @colorGrey;
  background-image: url("../img/footer-bg.svg");

	h4 {
		font-size: 0.778em;
		font-weight: normal;
		line-height: 1em;
	}
}

.social-networks {
  padding-top: 40px;
  width: 100%;
  position: relative;
  bottom: 5px;
  margin-bottom: 23px;
  a {
    .circle(20px);
    display: inline-block;
    background-color: @colorBlue;
    margin: 0 20px 0 20px;
    text-decoration: none;
  }

  a:before {
    font-size: 34px;
    line-height: 45px;
  }
}
