.overview {
	background-color: #FFF;
	overflow: hidden;

	h2 {
		position: relative;
		font-size: 3.111em;
		line-height: 1em;
		z-index: 1;
	}
}

.overview-wrapper {
	margin: -272px 0 0 -470px;
	text-align: center
}

.overview-title {
	display: inline-block;
	position: relative;

	.arrow {
		position: absolute;
		right: 0;
		top: -20px;
	}
}

.slideshow {
	margin-top: (@grid * 3);
}

.description {
	width: 320px;
	float: left;
	text-align: left;
	margin-top: (@grid * 2);

	h3 {
		font-size: 1.444em;
	}
}

.viewer {
	width: 206px;
    position: relative;
    margin: auto;
}

.num {
	margin-bottom: 5px;
}

.hr {
	margin-bottom: 5px;
}

.controls {
	float: right;
	margin-top: (@grid * 5);
}