.overview {
	background-color: @colorGrey;
	overflow: hidden;

	h2 {
		position: relative;
		font-size: 3.111em;
		line-height: 1em;
		z-index: 1;
	}
	
	.left, .right {
		.arrow {
			width: 224px;
			height: 186px;
		}
	}

	.left {
		top: 15%;
		left: 15%;

		.arrow {
			top: -30px;
			right: -3px;
		}
	}

	.right {
	    right: 13%;
	    top: 48%;

		.arrow {
		    left: -13px;
		    top: -50px;
		}
	}
	
	.opportunity {
		color: @colorBlue;
		font-size: 1.667em;
		line-height: 1em;
		text-align: center;
		width: 180px;
		position: relative;
		z-index: 1;
	}
}

.overview-title {
	display: inline-block;
	position: relative;
	margin-bottom: 110px;

	.arrow {
		position: absolute;
		right: -25px;
		top: -25px;
	}
}

.viewer {
	height: 100%;
    position: relative;
    text-align: center;
}

.slides {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

	img {
    	height: 91.05%;
    	position: absolute;
    	background-color: #FFF;
	    left: 50.19%;
	    top: 4.5%;
	    .fadeout();
    }

    img.active {
    	.fadein();
    }
}

.phone-wrapper {
	display: inline;
}