.overview {
	background-color: @colorGrey;
	overflow: hidden;

	h2 {
		position: relative;
		font-size: 3.111em;
		line-height: 1em;
		z-index: 1;
	}
	
	.left, .right {
		.arrow {
			width: 224px;
			height: 186px;
		}
	}

	.left {
		top: 15%;
		left: 15%;

		.arrow {
			top: -30px;
			right: -3px;
		}
	}

	.right {
	    right: 13%;
	    top: 48%;

		.arrow {
		    left: -13px;
		    top: -50px;
		}
	}
	
	.opportunity {
		color: @colorBlue;
		font-size: 1.667em;
		line-height: 1em;
		text-align: center;
		width: 180px;
		position: relative;
		z-index: 1;
	}
}

.overview-title {
	display: inline-block;
	position: relative;
	margin-bottom: 110px;

	.arrow {
		position: absolute;
		right: -25px;
		top: -25px;
	}
}

.viewer {
	height: 100%;
    position: relative;
    text-align: center;
}

.slides {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

	img {
    	height: 91.05%;
    	position: absolute;
    	background-color: #FFF;
	    left: 50.19%;
	    top: 4.5%;
	    .fadeout();
    }

    img.active {
    	.fadein();
    }
}

@media screen and (max-width: (@sizeL + @sizeGap)) {
    .overview {
        .opportunity {
        	width: (180px * 0.8);
			font-size: (1.667em * 0.8);
			line-height: (1em * 0.8);
	    }

		.left, .right {
			.arrow {
				width: (224px * 0.8);
				height: (186px * 0.8);
			}
		}

		.right {
			right: (13% * 0.8);

			.arrow {
			    left: -3px;
			    top: -44px;
			}
		}

		.left {
			left: (15% * 0.8);
			
			.arrow {
			    right: 2px;
			    top: -29px;
			}
		}
    }
}

@media screen and (max-width: (@sizeM + @sizeGap)) {
    .overview {
        .opportunity {
        	width: (180px * 0.6);
			font-size: (1.667em * 0.6);
			line-height: (1em * 0.6);
	    }

		.left, .right {
			.arrow {
				width: (224px * 0.6);
				height: (186px * 0.6);
			}
		}

		.bottom {
			.arrow {
				width: (34px * 0.6);
				height: (113px * 0.6);
			}
		}

		.right {
			right: (13% * 0.6);

			.arrow {
			    left: 3px;
			    top: -36px;
			}
		}

		.left {
			left: (15% * 0.6);

			.arrow {
			    right: 7px;
			    top: -25px;
			}
		}
    }
}
