.title {
    
}

.title-img-content {
    position:  absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    img {
        width: 100%;
        height: auto; 
    }

    span {
        background-color: grey;
        display: block;
        height: 100%;
        width: 100%;
    }
}

.title-headlines {
    text-align: center;
    color: #FFF;
    z-index: 1;
    position: relative;

    h1 {
        font-size: 6.667em;
        line-height: 0.666em;
        margin: (@grid * 3) 0;
    }

    p {
        font-size: 2.222em;
        line-height: 1em;
    }
}

.logo {
    display: inline-block;
    width: 245px;
    height: 50px;
    background-color: #FFF;
}